{% load static %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </head>
<body>

<h1>Reviews</h1>
<ul>
{% for review in object_list %}
    <li>{{ review.pub_date }} - {{ review.text }}</li>
    <li>{{ review.address }}</li>
    <li>{{ review.stars }}</li>
    <li>{{ review.reviewer }}</li>
    <li>{{ review.neighborhood }}</li>
    <li>{{ review.price }}</li>
    <li>{{ review.bedrooms }}</li>
    <li>{{ review.bathrooms }}</li>
    <li>{{ review.distance_to_newcomb }}</li>
    <li>{{ review.utilities_cost }}</li>
    <li>{{ review.utilities }}</li>
    <li>{{ review.amenities }}</li>
{% empty %}
    <li>No Reviews yet.</li>
{% endfor %}
</ul>

</body>
</html>
