{% extends 'home/base.html' %}
{% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="overflow: hidden; width:100%; height:100%; ">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
           /* Set the size of the div element that contains the map */
           #map {
          height: 350px;  /* The height is 400 pixels */
          width: 100%;  /* The width is the width of the web page */
         }
  * {
    box-sizing: border-box;
  }
  .form-group{
    color : black;
  }
  label{
    color: black;
  }
  .column {
    width: 750px;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .reviewForm {
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .h1Wrapper {
    background-color: royalblue;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 98%;
  }
  .h2Wrapper {
    background-color: rgba(173, 216, 230, 0.802);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
  }
  .buttonArea {
    margin-bottom: 5px;
    border-radius: 5px;
  }
  .collapseClass {
    background-color: rgba(173, 216, 230, 0.802);
    border-radius: 5px;
    text-align: center;
  }
  .rowElements {
    background-color: rgb(105, 135, 228);
    border-radius: 5px;
    text-align: center;
    margin-left: 30px;
    margin-top: 5px;
  }
  .rowElements2 {
    background-color: rgb(140, 174, 186);
    border-radius: 5px;
    text-align: center;
  }


  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

</style>
</div>
<div class="row" style="width:100%; height:100%; padding-top:70px;">
  <div class="col"  style="width:50%; height:100%; padding-right: 10px; padding-left: 10px;" >
    <div class="" style="height:50%; width:100%; overflow-y:scroll; overflow-x:none; padding-left:10px;">
      <form class="reviewForm" method="get">
          <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-3 pt-0"><b>Min Stars</b></legend>
                <div class="col-sm-9">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars1"
                      value="1"
                      {% if stars == "1" %}
                        checked
                      {% endif %}
                    />
                    <label class="form-check-label" for="stars1">
                      1
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars2"
                      value="2"
                      {% if stars == "2" %}
                      checked
                    {% endif %}
                    />
                    <label class="form-check-label" for="stars2">
                      2
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars3"
                      value="3"
                      {% if stars == "3" %}
                      checked
                    {% endif %}
                    />
                    <label class="form-check-label" for="stars3">
                      3
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars4"
                      value="4"
                      {% if stars == "4" %}
                      checked
                    {% endif %}
                    />
                    <label class="form-check-label" for="stars4">
                      4
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars5"
                      value="5"
                      {% if stars == "5" %}
                      checked
                    {% endif %}
                    />
                    <label class="form-check-label" for="stars5">
                      5
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>

              <div class="form-group row">
                  <div class="col-3">
                    <label for="ex1 font-family: 'Montserrat';" style="font-size:15px;"><b>Min Price</b></label>
                    <input
                    class="form-control"
                    type="number"
                    min="0.00"
                    max="2500"
                    value="{{min_price}}"
                    name="min_price"
                    id="minPrice"
                    size="8"
                    style="height:12px;width:70px;font-size:10pt;"
                  />
                  </div>
                  <div class="col-3">
                    <label for="ex2 font-family: 'Montserrat';"style="font-size:15px;"><b>Max Price</b></label>
                    <input
                    class="form-control"
                    type="number"
                    min="0.00"
                    max="2500"
                    value="{{max_price}}"
                    name="max_price"
                    id="maxPrice"
                    size="8"
                    style="height:12px;width:70px;font-size:10pt;"
                  />
                  </div>

                </div>

                <div class="form-group row">
                    <div class="col-3">
                      <label for="ex1 font-family: 'Montserrat';"style="font-size:15px;"><b>Min Bedrooms</b></label>
                      <select
                      class="form-control"
                      name="min_bed"
                      id="{{ review.pk }}bedrooms"
                    >
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                    </div>
                    <div class="col-3">
                      <label for="ex2"style="font-size:15px;"><b>Min Bathrooms</b></label>
                      <select
                class="form-control"
                name="min_bath"
                id="{{ review.pk }}bedrooms"
              >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
                    </div>

                  </div>

                  <div class="form-group row">
                      <legend class="col-form-label col-sm-3 pt-0"><b>Utilities</b></legend>
                      {%for util in utilities%}
                      <div class="col-3 form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="{{ util }}"
                          name="{{ util }}"
                          value="{{ util }}"
                          {% if util in util_arr %}
                          checked
                        {% endif %}
                        />
                        <label class="form-check-label" for="{{ util }}">
                          {{ util }}
                        </label>
                      </div>
                      {%endfor%}
                  </div>

                  <div class="form-group row">
                      <legend class="col-form-label col-sm-3 pt-0"><b>Neighborhoods</b></legend>
                      {% for hood in neighborhoods %}
                      <div class="col-3 form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="{{ hood }}"
                          name="{{ hood }}"
                          value="{{ hood }}"
                          {% if hood in hood_arr %}
                          checked
                        {% endif %}
                        />
                        <label class="form-check-label" for="{{ hood }}">
                          {{ hood }}
                        </label>
                      </div>
                      {%endfor%}
                  </div>

                  <div class="form-group row">
                      <legend class="col-form-label col-sm-3 pt-0"><b>Amenities</b></legend>
                      {% for amen in amenities %}
                      <div class="col-3 form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="{{ amen }}"
                          name="{{ amen }}"
                          value="{{ amen }}"
                          {% if amen in amen_arr %}
                          checked
                        {% endif %}
                        />
                        <label class="form-check-label" for="{{ amen }}">
                          {{ amen }}
                        </label>
                      </div>
                      {%endfor%}
                  </div>
          <input id="location" type="text" name="location" value="{{ location }}" hidden >
          <input id="submit_button" type="submit"
          style="display:inline-block"
          type="submit"
          name="submit_type"
          value="Filter"
          class="btn btn-primary"value="Submit"><br>
        </form>
      </div>
        <!--The div element for the map -->
    <div id="map" style="height:50%;  width:100%; padding-left:10px">
    <script>
    // Initialize and add the map
    function initMap() { //38.0358961,-78.5066878
      // The location of newcomb 38.0359236,-78.5088001
      var newc = {lat: 38.0359236, lng: -78.5088001};
      // The map, centered at newc
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 15, center: newc});
      // The marker, positioned at newc
      // var marker = new google.maps.Marker({position: newc, map: map});
      //make grandmarc 38.037213,-78.5015677
      // var grandmarc = {lat: 38.037213, lng: -78.5015677};
      // var marker = new google.maps.Marker({position: grandmarc, map:map});
      //add variable location
      // var varLoc = {lat:{{lat}}, lng:{{lng}}};
      // var marker = new google.maps.Marker({position: varLoc, map: map})
    {% for review in object_list %}
      console.log("yeep");
      // console.log( {{review}} );
      console.log(decodeHtml('{{review.location}}'));
      if (!('{{review.location}}' === 'None'))
      {
        let pos = decodeHtml('{{review.location}}');
        let posR = pos.replace(/'/g, "\"");
        console.log("Pos: " + posR);
        let posObj = JSON.parse(posR);
        var marker = new google.maps.Marker({position: posObj, map:map }); //on click fill in the html value and submit filter
        marker.addListener('click', function() {
          document.getElementById("location").value = posR;
          console.log("location! " + document.getElementById("location").value);
          document.getElementById("submit_button").click();
        });
      }
    {% endfor %}
    }
    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLDfHtyt6C7NqimxtXZ8imfqHinj_dVNY&callback=initMap">
    </script>
    </div>
  </div>
  <div class="col" style="overflow-y:scroll; width:50%; height:100%; padding-right: 10px;">
    <script>function myFunction(passed) {
      var x = document.getElementById("review_top_"+passed)
      var y = document.getElementById("review_bottom_"+passed)
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      if (y.style.display === "none") {
        y.style.display = "block";
      } else {
        y.style.display = "none";
      }
    }
    function byAddress(passed) {
      console.log('yeet');
      console.log(passed);
      console.log('yeet2');
      if (!(passed === 'None'))
      {
        let pos = decodeHtml(passed);
        let posR = pos.replace(/'/g, "\"");
        console.log("Pos: " + posR);
        let posObj = JSON.parse(posR);

        document.getElementById("location").value = posR;
        console.log("location! " + document.getElementById("location").value);
        document.getElementById("submit_button").click();
      }

    }
      </script>
    {% for review in object_list %}
    <div class="card" style="width:100%;">
      <div class="card-body">
        <h5 class="card-title">{{ review.address }}</h5>
        <div class="card-subtitle row">
          <p class="text-muted col-2">$ {{review.price}}</p>
          <!-- stars -->
          <div class="col-3"
              style="">
            {% for x in five_arr%}
              {% if review.stars > x %}
              <span class="fa fa-star" style="color:orange"><span></span>
              {% endif %}
            {% endfor %}
          </div>
          <p class="text-muted col-3">Bedrooms: {{review.bedrooms}}</p>
        </div>
        <div id="review_top_{{review.pk}}">
            <p class="card-text">{{review.text|slice:"0:100"}}...</p>
            <button class="btn btn-primary" style="width: 25%; margin-top: 10px; margin-right: 15px;" onclick="myFunction({{review.pk}})" class="card-link">Show More</button>
            <button class="btn btn-primary" style="width: 40%; margin-top: 10px;" onclick="byAddress('{{review.location}}')" class="card-link">Filter by this Address</button>
        </div>

        <div id="review_bottom_{{review.pk}}" style="display:none">
          <p class="card-text"> {{review.text}} </p>
          <ul class ="list-group">
          <li class="list-group-item" style="padding: 2px;"><b>Neighboorhood</b>: {{ review.neighborhood }}</li>
          <li class="list-group-item" style="padding: 2px;"><b>Number of bathrooms</b>: {{ review.bathrooms }}</li>
          <li class="list-group-item" style="padding: 2px;"><b>Cost of utilities</b>: ${{ review.utilities_cost }}</li>
          <li class="list-group-item" style="padding: 2px;"><b>Included utilities</b>: {{ review.utilities }}</li>
          <li class="list-group-item" style="padding: 2px;"><b>Included amenities</b>: {{ review.amenities }}</li>
          <div class="row">
          <button class="btn btn-primary"
              style="width: 25%; margin-top: 10px; margin-right: 20px; margin-left: 15px;" onclick="myFunction({{review.pk}})" class="card-link">Show Less</button>
          <button class="btn btn-primary" style="width: 40%; margin-top: 10px;" onclick="byAddress('{{review.location}}')" class="card-link">Filter by this Address</button>
        </div>

        </div>


      </div>
      </div>
    <!--END COL-->

    <br>
    {% empty %}

        <li>No Reviews yet.</li>
    {% endfor %}
  </div>
</div>
</body>
{% endblock %}
