{% load static %}

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </head>
<body>

<h1>Reviews</h1>
<ul>
    <div>
    <h2>Select filters</h2>
    <P ALIGN=RIGHT>
            <form action="/action_page.php" method="get">
                Address: <input type="text" name="filter" value=""><br><br>
                Maximum Stars:
                <input type="radio" name="gender" value="1"> 1
                <input type="radio" name="gender" value="2"> 2
                <input type="radio" name="gender" value="3"> 3
                <input type="radio" name="gender" value="4"> 4
                <input type="radio" name="gender" value="5"> 5<br><br>
                Keyword: <input type="text" name="filter" value=""><br><br>
                Maximum Price:
                <div style="position:relative; margin:auto; width:90%">
                        <span style="position:absolute; min-width:100px;">
                        <span id="myValue"></span>
                        </span>
                        <input type="range" id="myRange" max="1000" min="0" style="width:80%">
                      </div>

                      <script type="text/javascript" charset="utf-8">
                    var myRange = document.querySelector('#myRange');
                    var myValue = document.querySelector('#myValue');
                    var myUnits = '$';
                    var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
                    var px =  ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

                      myValue.parentElement.style.left = px + 'px';
                      myValue.parentElement.style.top = myRange.offsetHeight + 'px';
                      myValue.innerHTML = myUnits + myRange.value;

                      myRange.oninput =function(){
                        let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
                        myValue.innerHTML = myUnits + myRange.value;
                        myValue.parentElement.style.left = px + 'px';
                      };
                      </script><br>
                Parking available? <input type="checkbox" name="filter"><br><br>
                Number of bedrooms: <input type="text" name="filter" ><br><br>
                Number of bathrooms: <input type="text" name="filter"><br><br>
                <input type="submit" value="Submit"><br>
              </form>
            </P>
  </div>
{% for review in object_list %}
    <h2>{{ review.pub_date }} - {{ review.text }}</h2>
    <ul class ="list-group">
    <li class="list-group-item list-group-item-info"><b>Address</b> - {{ review.address }}</li>
    <li class="list-group-item list-group-item-info"><b>Stars</b> - {{ review.stars }}</li>
    <li class="list-group-item list-group-item-info"><b>Reviewer</b> - {{ review.reviewer }}</li>
    <li class="list-group-item list-group-item-info"><b>Neighboorhood</b> - {{ review.neighborhood }}</li>
    <li class="list-group-item list-group-item-info"><b>Price</b> - {{ review.price }}</li>
    <li class="list-group-item list-group-item-info"><b>Number of bedrooms</b> - {{ review.bedrooms }}</li>
    <li class="list-group-item list-group-item-info"><b>Number of bathrooms</b> - {{ review.bathrooms }}</li>
    <li class="list-group-item list-group-item-info"><b>Approximate distance</b> to Newcomb - {{ review.distance_to_newcomb }}</li>
    <li class="list-group-item list-group-item-info"><b>Cost of utilities</b> - {{ review.utilities_cost }}</li>
    <li class="list-group-item list-group-item-info"><b>Included utilities</b> - {{ review.utilities }}</li>
    <li class="list-group-item list-group-item-info"><b>Included amenities</b> - {{ review.amenities }}</li>
    <br>
{% empty %}
    <li>No Reviews yet.</li>
{% endfor %}
</ul>

</body>
</html>
