<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Review</h1>
          <hr class="mt-0 mb-4" />
          <form method="post">
            {% csrf_token %}
            <!--STARS-->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Stars</legend>
                <div class="col-sm-10">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars1"
                      value="1"
                      checked
                    />
                    <label class="form-check-label" for="gridRadios1">
                      1
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars2"
                      value="2"
                    />
                    <label class="form-check-label" for="gridRadios2">
                      2
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars3"
                      value="3"
                    />
                    <label class="form-check-label" for="gridRadios3">
                      3
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars4"
                      value="4"
                    />
                    <label class="form-check-label" for="gridRadios3">
                      4
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="stars"
                      id="stars5"
                      value="5"
                    />
                    <label class="form-check-label" for="gridRadios3">
                      5
                    </label>
                  </div>
                </div>
              </div>
            </fieldset>
            <!--ADDRESS-->
            <div class="form-group row">
              <label for="address" class="col-sm-2 col-form-label"
                >Address</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  name="address"
                  class="form-control"
                  id="addressID"
                  placeholder="Address"
                />
              </div>
            </div>
            <!--TEXT-->
            <div class="form-group">
              <label for="text">Review</label>
              <textarea
                class="form-control"
                id="textID"
                name="text"
                value=""
                rows="3"
              ></textarea>
            </div>
            <!--NEIGHBORHOOD-->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">
                  Neighborhoods
                </legend>
                <div class="col-sm-10">
                  {% for hood in neighborhoods %}
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="{{ hood }}"
                      value="{{ hood }}"
                    />
                    <label class="form-check-label" for="inlineCheckbox1">
                      {{ hood }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </fieldset>
            <!--PRICE-->
            <div class="form-group">
              <label for="exampleFormControlInput1">Price per Tenant</label>
              <input
                type="number"
                min="0.01"
                step="0.01"
                max="2500"
                class="form-control"
                name="price"
                value="1.00"
              />
            </div>
            <!--BEDROOMS-->
            <div class="form-group">
              <label for="exampleFormControlSelect1">Bedrooms</label>
              <select class="form-control" name="bedrooms">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <!--Bathrooms-->
            <div class="form-group">
              <label for="exampleFormControlSelect1">Bathrooms</label>
              <select class="form-control" name="bathrooms">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </div>
            <!--Amenities-->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Amenitites</legend>
                <div class="col-sm-10">
                  {% for amen in amenities %}
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="{{ amen }}"
                      value="{{ amen }}"
                    />
                    <label class="form-check-label" for="inlineCheckbox1">
                      {{ amen }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </fieldset>
            <!--Utilities-->
            <fieldset class="form-group">
              <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Utilities</legend>
                <div class="col-sm-10">
                  {%for util in utilities%}
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="{{ util }}"
                      value="{{ util }}"
                    />
                    <label class="form-check-label" for="inlineCheckbox1">
                      {{ util }}
                    </label>
                  </div>
                  {%endfor%}
                </div>
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1"
                  >Cost of Utilities per Tenant</label
                >
                <input
                  type="number"
                  name="utilities_cost"
                  min="0.01"
                  step="0.01"
                  max="2500"
                  class="form-control"
                  id="price"
                  value="1.00"
                />
              </div>
            </fieldset>
            <div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Add Image</label>
                <input
                  type="checkbox"
                  id="imageCheck"
                  onclick="toggleImage()"
                />
                <div id="imageUpload" style="display:none">
                  <input type="file" accept="image/*" name="imagefile" />
                </div>
                <script>
                  var checkBox = document.getElementById("imageCheck");
                  checkBox.checked = false;
                  function toggleImage() {
                    // Get the checkbox
                    var checkBox = document.getElementById("imageCheck");
                    // Get the output text
                    var image = document.getElementById("imageUpload");

                    // If the checkbox is checked, display the output text
                    if (checkBox.checked == true) {
                      image.style.display = "block";
                    } else {
                      image.style.display = "none";
                    }
                  }
                </script>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">
                  Create
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
