{% extends 'home/base.html' %} {% block content %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"
></script>
<style>
  /* Popup container */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">Review</h1>
        <hr class="mt-0 mb-4" />
        <form method="post">
          {% csrf_token %}
          <!--STARS-->
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Stars</legend>
              <div class="col-sm-10">
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stars"
                    id="stars1"
                    value="1"
                    checked
                  />
                  <label class="form-check-label" for="stars1">
                    1
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stars"
                    id="stars2"
                    value="2"
                  />
                  <label class="form-check-label" for="stars2">
                    2
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stars"
                    id="stars3"
                    value="3"
                  />
                  <label class="form-check-label" for="stars3">
                    3
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stars"
                    id="stars4"
                    value="4"
                  />
                  <label class="form-check-label" for="stars4">
                    4
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="stars"
                    id="stars5"
                    value="5"
                  />
                  <label class="form-check-label" for="stars5">
                    5
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <!--ADDRESS-->
          <div class="form-group row">
            {% if address_error %}
            <div class="popup">
              <span
                class="popuptext"
                id="myPopup"
                style="color: red"
                onclick="pop_down()"
                >Address must be a real address</span
              >
            </div>
            <script>
              // When the user clicks on <div>, open the popup
              function pop_up() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
              }
              function pop_down() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
              }
              window.onload = pop_up;
            </script>
            {% endif %}
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
              <input
                required
                type="text"
                name="address"
                class="form-control"
                id="addressID"
                placeholder="Address"
              />
            </div>
          </div>
          <!--TEXT-->
          <div class="form-group">
            <label for="text">Review</label>
            <textarea
              required
              class="form-control"
              id="textID"
              name="text"
              value=""
              rows="3"
            ></textarea>
          </div>
          <!--NEIGHBORHOOD-->
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">
                Neighborhoods
              </legend>
              <div class="col-sm-10">
                {% for hood in neighborhoods %}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="{{ hood }}"
                    name="{{ hood }}"
                    value="{{ hood }}"
                  />
                  <label class="form-check-label" for="{{ hood }}">
                    {{ hood }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </fieldset>
          <!--PRICE-->
          <div class="form-group">
            <label for="exampleFormControlInput1">Price per Tenant</label>
            <input
              required
              type="number"
              min="0.01"
              step="0.01"
              max="2500"
              class="form-control"
              name="price"
              value="1.00"
            />
          </div>
          <!--BEDROOMS-->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Bedrooms</label>
            <select class="form-control" name="bedrooms">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <!--Bathrooms-->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Bathrooms</label>
            <select class="form-control" name="bathrooms">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
          <!--Amenities-->
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Amenitites</legend>
              <div class="col-sm-10">
                {% for amen in amenities %}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="{{ amen }}"
                    name="{{ amen }}"
                    value="{{ amen }}"
                  />
                  <label class="form-check-label" for="{{ amen }}">
                    {{ amen }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>
          </fieldset>
          <!--Utilities-->
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Utilities</legend>
              <div class="col-sm-10">
                {%for util in utilities%}
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="{{ util }}"
                    name="{{ util }}"
                    value="{{ util }}"
                  />
                  <label class="form-check-label" for="{{ util }}">
                    {{ util }}
                  </label>
                </div>
                {%endfor%}
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1"
                >Cost of Utilities per Tenant</label
              >
              <input
                required
                type="number"
                name="utilities_cost"
                min="0.01"
                step="0.01"
                max="2500"
                class="form-control"
                id="price"
                value="1.00"
              />
            </div>
          </fieldset>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

{% endblock %}
