{% load static %}
<html>
  <head>
    <!-- Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!-- Material icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>YELP FOR UVA OFF GROUND HOUSING</title>
  </head>

  <title>YELP FOR UVA OFF GROUND HOUSING</title>

  {% if user.is_authenticated %} {% include 'home/navbar_signed_in.html' %}
  <div class="container">
    {% block content %} {% endblock %}
  </div>
  {% else %} {% include 'home/navbar_signed_out.html' %} {% include
  'registration/login.html' %}{% endif %}
</html>
